*{
    margin: 0;

}
.div1{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    height: 350px;
    border: 1px solid #ccc;

}
.div2{
    width: 150px;
    height: 120px;
    border: 1px solid red;
}
.div3{
    width: 150px;
    height: 100px;
    border: 1px solid red;
}
.div4{
    width: 150px;
    height: 40px;
    border: 1px solid red;
}
.div5{
    width: 150px;
    height: 200px;
    border: 1px solid blue;
}
@media screen and (max-width: 640px){
    .div1{
        flex-flow: row wrap;
        align-items: flex-start;
    }
    .div2{
        order: 2;
    }
    .div3{
        order: 3;
    }
    .div4{
        order: 4;
    }
    .div5{
        order: 1;
    }
}